footer.footer.py-3.text-center.mt-auto  
  hr
  a(href='https://github.com/AgusSauchella/blog-sauchella' target='_blank' class='text-center' style='font-size: 48px; color: black;')
    i(class='fa fa-github')      
  p.text-center.text-muted Sauchella Agustin &copy 2019 
